/*em ---> take from parent
rem----> take from root(html)
% ----> like em take from parent
pt----> use with printing*/


/*start basic style*/

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Allura&family=East+Sea+Dokdo&family=Marck+Script&family=Permanent+Marker&family=Playball&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&family=East+Sea+Dokdo&family=Marck+Script&family=Neuton:ital@1&family=Permanent+Marker&family=Playball&display=swap');
/*like hand write*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=East+Sea+Dokdo&family=Marck+Script&family=Playball&display=swap');


*{
    --webkit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    box-sizing: border-box;
}

/*start basic style*/
html{
  font-size:22px;
}
body{
  margin:0;
  padding:0; 
  font-size:22px;
  font-family:'Neuton',sans-serif,'Permanent Marker';
  text-align:center;
  background-color: #111;
  height:6000px;
}

hr.soften {
  margin-top:5% ;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  border: 0;
}
/*end basic style*/


/*start header style*/

header{
    color:#eee;
    font-size: 1rem;
}



ul.conect {
  position: absolute;
  top:25px;
  right:-10%;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
  display:flex;
}


ul.conect li {
  list-style: none;
}

ul.conect li a{
  position: relative;
  width:50px;
  height:50px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #333, #000);
  transition: .5s;
}

ul.conect li a:hover{
  box-shadow: 0 2px 5px rgba(255,255,255,0.3);
  text-decoration:none;
}

ul.conect li a .fa{
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #000, #333);
  border-radius: 50%;
  line-height: calc(50px - 12px);
  font-size:20px;
  color: #a09f9f;
  transition: .5s;
}

ul.conect li:nth-child(1) a:hover .fa {
  color: #1d4292;
}

ul.conect li:nth-child(2) a:hover .fa {
  color: #00aced;
}

ul.conect li:nth-child(3) a:hover .fa {
  color: #dd4b39;
}
ul.conect li:nth-child(4) a:hover .fa {
  color: #007bb6;
}

ul.conect li:nth-child(5) a:hover .fa {
  color: #e4405f;
}
ul.conect li:nth-child(6) a:hover .fa{
    color:#fff;
}
/*end header style*/

/*start navbar style*/
.navbar{
    top:100px;
}
ul.navbar-nav a:hover { 
    color: #00f !important; 
}


.navbar-nav li {
  letter-spacing: 0;
}

.navbar-nav li:hover,
.navbar-nav li:active {
  letter-spacing: 5px;
}

.navbar-nav li:after,
.navbar-nav li:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.navbar-nav li:hover:after,
.navbar-nav li:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.navbar-nav li:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
/*end navbar style*/


/*start page contant style*/

p,h4 {
    text-align: justify;
    color:#eee;
	margin-top:20px;
}

img.image {
  float:left;
  width:calc(100vw * .5);
  height:calc(100vw * .5);
  border-radius:50%;
  shape-outside:circle(50%);
  border-spacing:200px;
  border : 20px solid #e6e6e6;
  margin:10px;
  padding:20px;
  position: relative;
}
/*circule rotate*/
.banner::before{
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
.banner::before{
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}
.banner::after ,.card::before{
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(0,0,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 12em;
    right: 9em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
.banner::after,.card::before  {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

.conect::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(0,0,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 5em;
   left: 3em;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
.conect::after {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}
.navbar::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    left: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
.navbar::after{
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}

/*end page contant style*/


/*start footer style*/

/*end footer style*/

/*start my framework*/

.upper{
    text-transform: uppercase;
}
.capital{
    text-transform: capitalize;
    font-size:.9rem;
}
.lower{
    font-size:.85rem !important;
    color:#ddd;
    font-style:italic;
}


.hand-font{
    font-family: 'Marck Script';
}

/*end my framework*/
/*mobile and tab*/
@media only screen and (max-width: 600px ){
  html{
    font-size: 15px !important;
  }

  .conect{
    width:70%;
    margin:auto;
  }
  .navbar{
    display: block;
    z-index:3;
  }
  .banner{
    display: none;
  }
  .card{
  
    width: 15rem;
    margin:auto;
    margin-top:30%;
  }
  .card-body{
    background-color: #333;
  }

}



/*large screen*/
@media only screen and (min-width: 600px ){
  .card{
    display: none;
  }
  .banner{
    margin-top:25%;
    position: relative;
  }
}